.page-header
  .btn-group
    = link_to 'Upload CSV', import_admin_stock_levels_path, :class => 'btn btn-default btn-primary pull-right'
    = link_to 'Download CSV', download_admin_stock_levels_path(sku: params[:sku], location_code: params[:location_code], bin_code: params[:bin_code], format: :csv), :class => 'btn btn-success pull-right'
    = link_to 'New Stock Level', new_admin_stock_level_path, :class => 'btn btn-default pull-right'

  %h2= 'Stock Levels'

.row
  .col-sm-4
    = select_tag(:sku_filter, options_for_select(@sku_options, params[:sku]), class: 'form-control filter-select', multiple: true,
      "data-option-selected" => @params_sku,
      "data-placeholder" => "Select SKU")

  .col-sm-4
    = select_tag(:location_code_filter, options_for_select(@location_options, params[:location_code]), class: 'form-control filter-select', multiple: true,
      "data-option-selected" => @params_location_code,
      "data-placeholder" => "Select location code")

  .col-sm-4
    = select_tag(:bin_code_filter, options_for_select(@bin_options, params[:bin_code]), class: 'form-control filter-select', multiple: true,
      "data-option-selected" => @params_bin_code,
      "data-placeholder" => "Select bin code")
    %hr
    = link_to 'Filter', nil, { id: 'filter-results', class: 'btn btn-primary' }
    = link_to 'Reset All', nil, { id: 'reset-all' }
    %hr
    = collection_select(:tour, :id, @tour_options, :last, :first, {:prompt => 'Select Tour'}, class: 'form-control assign-tour')
    = link_to 'Assign', nil, { id: 'assign-results', class: 'btn btn-success', style: 'width: 100%; margin-top: 10px;' }

%hr

%table.table.table-striped.table-hover.table-bordered.display{:cellspacing => "0", :width => "100%", id: 'stock-levels' }
  %thead
    %tr

      %th= check_box_tag :check_all
      %th On Tour
      %th Location
      %th Bin
      %th SKU
      %th Batch
      %th Quantity
      %th
  %tbody
    - @stock_levels.each do |stock_level|
      %tr
        %td.col-sm-1= check_box_tag :check_stock_level, nil, nil, data: { id: stock_level.id }, class: 'check'
        %td.col-sm-1
          - stock_level.last_tours.each do |tour|
            = link_to truncate(tour.name, length: 12), admin_tour_path(tour), class: 'label label-default'
        %td.col-sm-1= stock_level.location_code
        %td.col-sm-1= stock_level.bin_code
        %td.col-sm-1= stock_level.sku
        %td.col-sm-1= stock_level.batch_code
        %td.col-sm-1= stock_level.quantity
        %td.col-sm-1
          .btn-group.btn-group-sm
            = link_to 'Edit', edit_admin_stock_level_path(stock_level), :class => 'btn btn-default'
            = link_to 'Delete', admin_stock_level_path(stock_level), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

#page-id.stock_levels.hidden

