.page-header
  = link_to 'Upload via CSV', import_admin_stock_levels_path, :class => 'btn btn-default btn-primary pull-right'
  = link_to 'New Stock Level', new_admin_stock_level_path, :class => 'btn btn-default pull-right'
  %h2= 'Stock Levels'

.row
  .col-sm-4
    = select_tag(:sku_filter, options_for_select(@sku_options), class: 'form-control filter-select', multiple: true,
      "data-option-selected" => params[:sku],
      "data-placeholder" => "Select states")

  .col-sm-4
    = select_tag(:location_code_filter, options_for_select(@location_options), class: 'form-control filter-select', multiple: true,
      "data-option-selected" => params[:location_code],
      "data-placeholder" => "Select states")

  .col-sm-4
    = select_tag(:bin_code_filter, options_for_select(@bin_options), class: 'form-control filter-select', multiple: true,
      "data-option-selected" => params[:bin_code],
      "data-placeholder" => "Select states")

.row
  .pull-right
    = link_to 'Filter', nil, id: 'filter'
    = link_to 'Reset All'

= paginate @stock_levels, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th= check_box_tag :check_all
    %th Associated with a tour
    %th.main Location Code
    %th Bin Code
    %th Sku
    %th Batch Code
    %th Quantity
    %th
  - @stock_levels.each do |stock_level|
    %tr
      %td= check_box_tag :check_stock_level
      %td= stock_level.associated_with_tour_entry? ? 'Yes' : 'No'
      %td.main= stock_level.location.try(:code)
      %td= stock_level.bin_code
      %td= stock_level.sku
      %td= stock_level.batch_code
      %td= stock_level.quantity
      %td
        .btn-group.btn-group-sm
          = link_to 'Edit', edit_admin_stock_level_path(stock_level), :class => 'btn btn-default'
          = link_to 'Delete', admin_stock_level_path(stock_level), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= paginate @stock_levels, :theme => 'comfy'

#page-id.stock_levels.hidden
