.page-header
  = link_to 'New Location', new_admin_location_path, :class => 'btn btn-default pull-right'
  %h2= 'Locations'

= paginate @locations, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th.main Code
    %th Name
    %th Phone
    %th Email
    %th Address
    %th Address2
    %th Address3
    %th Suburb
    %th State
    %th Postcode
    %th Country
    %th Description
    %th
  - @locations.each do |location|
    %tr
      %td.main= location.code
      %td= location.name
      %td= location.phone
      %td= location.email
      %td= location.address
      %td= location.address2
      %td= location.address3
      %td= location.suburb
      %td= location.state
      %td= location.postcode
      %td= location.country
      %td= location.description
      %td
        .btn-group.btn-group-sm
          = link_to 'Edit', edit_admin_location_path(location), :class => 'btn btn-default'
          = link_to 'Delete', admin_location_path(location), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= paginate @locations, :theme => 'comfy'
