= form.text_field :name
= form.text_field :admin
= form.text_field :active
= form.text_field :started
= form.text_field :completed

= form.form_group :class => 'form-actions' do
  = form.submit :class => 'btn btn-primary'