.page-header
  = link_to 'Download All As CSV', download_admin_tours_path(:format => :csv), :class => 'btn btn-success pull-right'
  = link_to 'New Tour', new_admin_tour_path, :class => 'btn btn-default pull-right'
  %h2= 'Tours'

= paginate @tours, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th Name
    %th Admin
    %th Active
    %th Started
    %th Completed
    %th
  - @tours.each do |tour|
    %tr
      %td= tour.name
      %td= tour.admin.try(:login)
      %td= tour.active? ? 'Yes' : 'No'
      %td= tour.started.try(:strftime, "%H:%M - %d/%m/%Y")
      %td= tour.completed.try(:strftime, "%H:%M - %d/%m/%Y")
      %td
        .btn-group.btn-group-sm
          = link_to 'Edit', edit_admin_tour_path(tour), :class => 'btn btn-default'
          -# = link_to 'Download CSV', admin_tour_path(tour, :format => :csv), :class => 'btn btn-success'
          = link_to 'Delete', admin_tour_path(tour), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= paginate @tours, :theme => 'comfy'
