.page-header
  %h2 Tour

  %dl.dl-horizontal
    %dt Tour name
    %dd= @tour.name.presence || 'N/A'
    %dt Admin
    %dd= @tour.admin.presence.try(:login) || 'N/A'
    %dt Active?
    %dd= @tour.active? ? 'Yes' : 'No'
    %dt Started
    %dd= @tour.started.try(:strftime, "%H:%M - %d/%m/%Y") || 'N/A'
    %dt Completed
    %dd= @tour.completed.try(:strftime, "%Y/%m/%d - %H:%M") || 'N/A'
