-# = form.text_field :tour_id
= form.text_field :location
= form.text_field :bin
= form.text_field :sku
= form.text_field :barcode
= form.text_field :batch_code
= form.text_field :quantity
= form.check_box  :active

= form.form_group :class => 'form-actions' do
  = form.submit :class => 'btn btn-primary'
