.page-header
  = link_to 'New Tour Entry', new_admin_tour_entry_path, :class => 'btn btn-default pull-right'
  %h2= 'Tour Entries'

= paginate @tour_entries, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th Tour
    %th Location
    %th Bin
    %th SKU
    %th Barcode
    %th Batch
    %th Quantity
    %th
  - @tour_entries.each do |tour_entry|
    %tr
      %td.main= link_to tour_entry.tour, admin_tour_path(tour_entry.tour) if tour_entry.tour
      %td= tour_entry.location_code
      %td= tour_entry.bin_code
      %td= tour_entry.sku
      %td= tour_entry.barcode
      %td= tour_entry.batch_code
      %td= tour_entry.quantity
      %td
        .btn-group.btn-group-sm
          = link_to 'Edit', edit_admin_tour_entry_path(tour_entry), :class => 'btn btn-default'
          = link_to 'Delete', admin_tour_entry_path(tour_entry), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= paginate @tour_entries, :theme => 'comfy'
