.page-header
  %h2 Tour Entry

%dl.dl-horizontal
  %dt Tour Name
  %dd= @tour_entry.tour || 'N/A'
  %dt Location
  %dd= @tour_entry.location_code.presence || 'N/A'
  %dt Bin
  %dd= @tour_entry.bin_code.presence || 'N/A'
  %dt SKU
  %dd= @tour_entry.sku.presence || 'N/A'
  %dt Product Barcode
  %dd= @tour_entry.barcode.presence || 'N/A'
  %dt Batch Code
  %dd= @tour_entry.batch_code.presence || 'N/A'
  %dt Quantity
  %dd= @tour_entry.quantity.presence || 'N/A'
  %dt Active?
  %dd= @tour_entry.active.present? ? 'Yes' : 'Not Active'





