.page-header
  %h2= 'Walkthrough Sessions'

= paginate @sessions, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th Name
    %th Produts Barcodes
    %th Produts Quantity
    %th
  - @sessions.each do |_session|
    %tr
      %td= _session.name
      %td= _session.products.map(&:barcode)
      %td= _session.products.map(&:quantity)
      %td
        .btn-group.btn-group-sm
          = link_to 'Delete', admin_walkthrough_session_path(_session), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= paginate @sessions, :theme => 'comfy'
