%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold= current_admin.login.truncate(25)
              %span.text-muted.text-xs.block
                = current_admin.role
                -# %b.caret
          -# %ul.dropdown-menu.animated.fadeInRight.m-t-xs
          -#   %li
          -#     %a{:href => "#"} Logout
        .logo-element
          SA+
      = in_style_comfy_meny 'Tours', admin_tours_path
      = in_style_comfy_meny 'Tour Entries', admin_tour_entries_path
      = in_style_comfy_meny 'Products', admin_products_path
      = in_style_comfy_meny 'Product Barcodes', admin_product_barcodes_path
      = in_style_comfy_meny 'Stock Levels', admin_stock_levels_path
      = in_style_comfy_meny 'Locations', admin_locations_path
      = in_style_comfy_meny 'User Management', admin_admins_path
      = in_style_comfy_meny 'Companies', admin_companies_path
