%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold= current_admin.username.truncate(25)
              %span.text-muted.text-xs.block
                = current_admin.role
                -# %b.caret
          -# %ul.dropdown-menu.animated.fadeInRight.m-t-xs
          -#   %li
          -#     %a{:href => "#"} Logout
        .logo-element
          = link_to home_path_for(current_admin) do
            %i.fa.fa-check-square-o
      = in_style_comfy_meny 'Stock Levels', admin_stock_levels_path, :icon => 'fa-th-large'
      = in_style_comfy_meny 'Tours', admin_tours_path, :icon => 'fa-exchange'
      = in_style_comfy_meny 'Tour Entries', admin_tour_entries_path, :icon => 'fa-check-square'
      = in_style_comfy_meny 'Products', admin_products_path, :icon => 'fa-cubes'
      = in_style_comfy_meny 'Product Barcodes', admin_product_barcodes_path, :icon => 'fa-bars'
      = in_style_comfy_meny 'Locations', admin_locations_path, :icon => 'fa-globe'
      = in_style_comfy_meny 'Users', admin_admins_path, :icon => 'fa-users'
      = in_style_comfy_meny 'Company', admin_companies_path, :icon => 'fa-building'
