= form.text_field :code
= form.text_field :name
= form.text_field :phone
= form.text_field :email
= form.text_field :address
= form.text_field :address2
= form.text_field :address3
= form.text_field :suburb
= form.text_field :state
= form.text_field :postcode
= form.text_field :country
= form.text_field :description

= form.form_group :class => 'form-actions' do
  = form.submit :class => 'btn btn-primary'