= form.text_field :name
= form.text_field :sku
= form.text_field :batch_tracked
= form.text_area :description

.form-group.form-actions
  .col-sm-10.col-sm-offset-2
    = form.submit :class => 'btn btn-primary'
