.page-header
  .btn-group.pull-right
    = link_to '< Back to products', users_products_path, :class => 'btn btn-default'
    = link_to 'New product', new_users_product_path, :class => 'btn btn-default'

  %h2= 'Importing Products'

  = form_tag process_import_users_products_path, multipart: true, :class => 'form-upload' do
    = file_field_tag :file, :style => 'display: inline;'
    = submit_tag 'Import', class: 'btn btn-primary', id: 'import'

  %small Download a sample CSV template to see an example of the format required.
  = link_to "Download Sample", sample_users_products_path(format: :csv), :class => 'btn btn-default'


%table.table
  %thead
    %tr
      %th SKU
      %th Batch
      %th Description
      %th Barcode
      %th Description
      %th Quantity
      %th Product Status
      %th Product Messages
      %th Barcode Status
      %th Barcode Messages
  %tbody
    - @importer_results.each do |result|
      %tr
        %td= result[:sku]
        %td= result[:batch_tracked]
        %td= result[:description]
        %td= result[:barcode]
        %td= result[:barcode_description]
        %td= result[:quantity]
        %td= interpret_status(result[:status])
        %td= interpret_message(result[:messages])
        %td= interpret_status(result[:barcode_status])
        %td= interpret_message(result[:barcode_messages])

.products_import{ id: 'page-id' }
