.page-header
  .btn-group.pull-right
    = link_to 'Upload CSV', import_users_products_path, :class => 'btn btn-default'
    = link_to 'New Product', new_users_product_path, :class => 'btn btn-default'
    = link_to 'Download CSV', download_users_products_path(:format => :csv), :class => 'btn btn-success'

  %h2= 'Products'

%table.table.table-hover.table-bordered{ id: 'datatable-simple' }
  %thead
    %tr
      %th.col-sm-1 SKU
      %th.col-sm-1 Batch Tracked
      %th.col-sm-1 Description
      %th.col-sm-1
  %tbody
    - @products.each do |product|
      %tr
        %td= product.sku
        %td= product.batch_tracked == 1 ? 'Yes' : 'No'
        %td= product.description
        %td
          .btn-group.btn-group-sm
            = link_to 'Edit', edit_users_product_path(product), :class => 'btn btn-default'
            = link_to 'Delete', users_product_path(product), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
