.page-header
  %h2 Company

%dl.dl-horizontal
  %dt Title
  %dd= @company.title.presence || 'N/A'
  %dt Description
  %dd= @company.description.presence || 'N/A'
  %dt Address
  %dd= @company.address.presence || 'N/A'
  %dt Address 2
  %dd= @company.address2.presence || 'N/A'
  %dt Address 3
  %dd= @company.address3.presence || 'N/A'
  %dt Suburb
  %dd= @company.suburb.presence || 'N/A'
  %dt Postcode
  %dd= @company.postcode.presence || 'N/A'
  %dt State
  %dd= @company.state.presence || 'N/A'
  %dt Phone
  %dd= @company.phone.presence || 'N/A'
  %dt Abn
  %dd= @company.abn.presence || 'N/A'
  %dt Email
  %dd= @company.email.presence || 'N/A'
  %dt Web Address
  %dd= @company.web.presence || 'N/A'
