- content_for :body_class do
  = 'tour-entries'

.page-header
  .pull-right
    
  %h2= 'Tour Entries'
  

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      %h5 Tour Entries
    .ibox-content
      %table.table.table-hover.table-bordered{ id: 'datatable-simple' }
        %thead
          %tr
            %th.checkboxed= check_box_tag :check_all
            %th Tour
            %th Location
            %th Bin
            %th SKU
            %th Batch Code
            %th Stock Level QTY
            %th Quantity
            %th Variance
            %th
        %tbody
          - @tour_entries.each do |tour_entry|
            %tr
              %td= check_box_tag :check_stock_level, nil, nil, data: scoped_params(tour_entry), class: 'check'
              %td.tour= link_to truncate(tour_entry.tour_name, length: 12), users_tour_path(tour_entry.tour_id), class: 'label label-default tour_name'
              %td= tour_entry.location_code
              %td= tour_entry.bin_code
              %td= tour_entry.sku
              %td= tour_entry.batch_code
              %td.quantity= tour_entry.stock_level_qty
              %td.quantity= tour_entry.sum_quantity
              - variance = tour_entry.sum_quantity - tour_entry.stock_level_qty
              %td.variance{ class: colour_picker(variance) }= variance.round(2)
              %td
                .btn-group.btn-group-sm
                  = link_to 'Adjust', adjust_variance_users_tour_entries_path(scoped_params(tour_entry)), method: :put, :class => 'btn btn-primary adjust-tour-entries'
                  = link_to 'Entries', users_tour_scoped_by_tour_index_path(scoped_params(tour_entry)), :class => 'btn btn-default'
                  = link_to 'Reject', reject_variance_users_tour_entries_path(scoped_params(tour_entry)), :method => :put, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger reject-tour-entries'

.tour_entries{ id: 'page-id' }
