.page-header
  .pull-right
    = link_to variance_text, users_tour_entries_path(:only_variance => !displays_only_variance?), class: "btn #{toggle_active}"
    = collection_select(:tour, :id, @tour_options, :id, :name, { :prompt => 'Assign  Tour' }, class: 'form-control assign-tour')
  %h2= 'Tour Entries'
  = link_to 'Apply ALL', apply_variance_users_tour_entries_path(:only_variance => params[:only_variance]), method: :put, :class => 'btn btn-primary'
  = link_to 'Reject ALL', reject_variance_users_tour_entries_path(:only_variance => params[:only_variance]), method: :put, :class => 'btn btn-danger'

%table.table.table-hover.table-bordered{ id: 'datatable-simple' }
  %thead
    %tr
      %th.checkboxed= check_box_tag :check_all
      %th Tour
      %th Location
      %th Bin
      %th SKU
      %th Barcode
      %th Batch
      %th Stock Level
      %th Quantity
      %th Variance
      %th
  %tbody
    - @tour_entries.each do |tour_entry|
      %tr
        %td= check_box_tag :check_stock_level, nil, nil, data: { id: tour_entry.id }, class: 'check'
        %td= link_to truncate(tour_entry.tour_name, length: 12), users_tour_path(tour_entry.tour_id), class: 'label label-default'
        %td= tour_entry.location_code
        %td= tour_entry.bin_code
        %td= tour_entry.sku
        %td= tour_entry.barcode
        %td= tour_entry.batch_code
        %td= tour_entry.stock_level_qty
        %td= tour_entry.quantity
        - variance = tour_entry.variance
        %td{ style: "background-color: #{colour_picker(variance)};" }= variance
        %td
          .btn-group.btn-group-sm
            = link_to 'Apply', apply_variance_users_tour_entry_path(tour_entry.id), method: :put, :class => 'btn btn-primary'
            = link_to 'Edit', edit_users_tour_entry_path(tour_entry), :class => 'btn btn-default'
            = link_to 'Delete', users_tour_entry_path(tour_entry), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

.tour_entries{ id: 'page-id' }
