- content_for :body_class do
  = 'tour-entries'

.page-header
  .pull-right
    = link_to variance_text, users_tour_entries_path(:only_variance => !displays_only_variance?), class: "btn #{toggle_active}"
    = link_to 'Assign', '#', class: "btn btn-primary", id: 'assign-tour'
    = collection_select(:tour, :id, @tour_options, :id, :name, { :prompt => 'Assign  Tour' }, class: 'form-control', id: 'select-tour')
  %h2= 'Tour Entries'
  = link_to 'Adjust Selected', '#', :class => 'btn btn-primary', :id => 'adjust-selected'
  = link_to 'Reject Selected', '#', :class => 'btn btn-danger', :id => 'reject-selected'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      %h4= @tour_entries.first.tour.name
    .ibox-content
      %table.table.table-hover.table-bordered{ id: 'datatable-simple' }
        %thead
          %tr
            %th.checkboxed= check_box_tag :check_all
            %th Location
            %th Bin
            %th SKU
            %th Barcode
            %th Stock Level
            %th Quantity
            %th Variance
            %th
        %tbody
          - @tour_entries.each do |tour_entry|
            %tr
              %td= check_box_tag :check_stock_level, nil, nil, data: { id: tour_entry.stock_level_id }, class: 'check'
              %td= tour_entry.location_code
              %td= tour_entry.bin_code
              %td= tour_entry.sku
              %td= tour_entry.barcode
              %td.stock_level_qty= tour_entry.stock_level_qty
              %td.quantity= tour_entry.quantity
              - variance = tour_entry.variance
              %td.variance{ class: colour_picker(variance) }= variance
              %td
                .btn-group.btn-group-sm
                  = link_to 'Adjust', adjust_variance_users_tour_entry_path(tour_entry), method: :put, :class => 'btn btn-primary'
                  = link_to 'Reject', users_tour_entry_path(tour_entry), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

.tour_entries{ id: 'page-id' }
