= form.text_field :email
- if @admin.new_record?
  = form.text_field :password
- if current_admin.super_admin?
  = form.select :role, Admin::ROLES
  = form.select :company_id, options_from_collection_for_select(@companies, 'id', 'title', @admin.company_id), prompt: 'Select company'
- else
  = form.select :role, Admin::AVAILABLE_ROLES

= form.form_group :class => 'form-actions' do
  = form.submit :class => 'btn btn-primary'
