= render 'nav'

= comfy_form_for [:admin, @admin] do |form|
  = form.text_field :current_password
  = form.text_field :password
  = form.text_field :password_confirmation
  = form.form_group :class => 'form-actions' do
    = form.submit 'Update password', :class => 'btn btn-primary'
