= form.text_field :bin_code
= form.text_field :sku
= form.text_field :batch_code
= form.text_field :quantity
= form.text_field :location_code

.form-group.form-actions
  .col-sm-10.col-sm-offset-2
    = form.submit :class => 'btn btn-primary'
