= form.text_field :bin_code
= form.text_field :sku
= form.text_field :batch_code
= form.text_field :quantity
= form.text_field :location_code

= form.form_group :class => 'form-actions' do
  = form.submit :class => 'btn btn-primary'
