%li= active_link_to 'Companies', admin_companies_path

%li= active_link_to 'Bins', admin_bins_path

%li= active_link_to 'Products', admin_products_path

%li= active_link_to 'Admins', admin_admins_path

%li= active_link_to 'Tours', admin_tours_path

%li= active_link_to 'Log out', destroy_admin_session_path, method: :delete

%li= active_link_to 'Locations', admin_locations_path
