= form.text_field :name
= form.text_field :sku
= form.text_field :batch_tracked
= form.text_area :description


= form.form_group :class => 'form-actions' do
  = form.submit :class => 'btn btn-primary'
