.page-header
  .btn-group.pull-right
    = link_to '< Back to products', admin_products_path, :class => 'btn btn-default'
    = link_to 'New product', new_admin_product_path, :class => 'btn btn-default'

  %h2= 'Importing Products'

  = form_tag process_import_admin_products_path, multipart: true, :class => 'form-upload' do
    = file_field_tag :file, :style => 'display: inline;'
    = submit_tag 'Import', class: 'btn btn-primary', id: 'import'

  %small Download a sample CSV template to see an example of the format required.
  = link_to "Download Sample", sample_admin_products_path(:format => :csv), :class => 'btn btn-default'



- @errors.each do |err|
  .alert.alert-danger{role: 'alert'}
    %span.sr-only Error:
    - err.each do |key, values|
      .text-left
        %b= "#{key}"
        - values.each do |value|
          %ul
            %li= value

- @warnings.each do |warning|
  .alert.alert-warning{role: 'alert'}
    %span.sr-only Warning:
    - warning.each do |key, values|
      .text-left
        %b= "#{key}"
        - values.each do |value|
          %ul
            %li= value

- @successfully_imported.each do |success|
  .alert.alert-success{role: 'alert'}
    %span.sr-only Success:
    - success.each do |key, values|
      .text-left
        %b= "#{key}"
        - values.each do |value|
          %ul
            %li= value



.products_import{ id: 'page-id' }
