.page-header
  .btn-group.pull-right
    = link_to 'Upload via CSV', import_admin_products_path, :class => 'btn btn-default'
    = link_to 'New Product', new_admin_product_path, :class => 'btn btn-default'
    = link_to 'Download All As CSV', admin_products_path(:format => :csv), :class => 'btn btn-success'

  %h2= 'Products'

- if @products.present?
  = paginate @products, :theme => 'comfy'

  %table.table.table-hover.table-bordered
    %tr
      %th.main description
      %th sku
      %th batch_tracked

      %th
    - @products.each do |product|
      %tr
        %td.main= product.description
        %td= product.sku
        %td= product.batch_tracked
        %td
          .btn-group.btn-group-sm
            = link_to 'Edit', edit_admin_product_path(product), :class => 'btn btn-default'
            = link_to 'Delete', admin_product_path(product), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

  = paginate @products, :theme => 'comfy'
- else
  %p No Products...
