.page-header
  = link_to 'New Name:String', new_admin_name:string_path, :class => 'btn btn-default pull-right'
  %h2= 'Name:Strings'

= paginate @name:strings, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th.main Admin
    %th Active
    %th Started
    %th Completed
    %th
  - @name:strings.each do |name:string|
    %tr
      %td.main= name:string.admin
      %td= name:string.active
      %td= name:string.started
      %td= name:string.completed
      %td
        .btn-group.btn-group-sm
          = link_to 'Edit', edit_admin_name:string_path(name:string), :class => 'btn btn-default'
          = link_to 'Delete', admin_name:string_path(name:string), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= paginate @name:strings, :theme => 'comfy'