!!!
%html
  %head
    = render 'layouts/comfy/admin/cms/head'
  %body{ class: collapse! }
    #settings.hidden{ :data => { :host => Settings.host } }
    #wrapper
      = render 'layouts/comfy/admin/cms/left_nav'
      #page-wrapper.gray-bg
        = render 'layouts/comfy/admin/cms/top_nav'
        .row
          = render 'layouts/comfy/admin/cms/flash'
        = render 'layouts/comfy/admin/cms/body'
        = render 'layouts/comfy/admin/cms/footer'

    = javascript_include_tag "application"
