= form.text_field :barcode
= form.select :sku, options_for_select(@sku, @product_barcode.sku), {}, class: 'form-control select-select2'
= form.text_field :description
= form.text_field :quantity, class: 'form-control'

.form-group.form-actions
  .col-sm-10.col-sm-offset-2
    = form.submit :class => 'btn btn-primary'