.page-header
  = link_to 'New Product Barcode', new_users_product_barcode_path, :class => 'btn btn-default pull-right'
  %h2= 'Product Barcodes'

%table.table.table-hover.table-bordered{ id: 'datatable-simple' }
  %thead
    %tr
      %th.col-sm-1 Barcode
      %th.col-sm-1 SKU
      %th.col-sm-1 Description
      %th.col-sm-1 Quantity
      %th.col-sm-1
  %tbody
    - @product_barcodes.each do |product_barcode|
      %tr
        %td= product_barcode.barcode
        %td= product_barcode.sku
        %td= product_barcode.description
        %td= product_barcode.quantity
        %td
          .btn-group.btn-group-sm
            = link_to 'Edit', edit_users_product_barcode_path(product_barcode), :class => 'btn btn-default'
            = link_to 'Delete', users_product_barcode_path(product_barcode), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
